/*--------------------------------------
  #FEATURES
--------------------------------------*/

.features {
  @include breakpoint($ultra) {
  }
}

.about {
  padding: 1em;
  margin: 0 auto;
  width: 90%;
  @include breakpoint($medium) {
    width: 70%;
  }
  @include breakpoint($big) {
    width: 60%;
  }
}

.techs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  @include breakpoint($medium) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.techs--item {
  background-color: $secondary;
  box-shadow: 0 0 4px darken($main, 30%);
  border-radius: 4px;
  flex-basis: 100%;
  margin: 1em;
  padding: .5em;
  @include breakpoint($medium) {
    width: 45%;
    flex: 1 1 45%;
  }
  @include breakpoint($large) {
    width: 30%;
    flex: 1 1 30%;
  }
}

.skills {
  border-top: 1px solid darken($main, 10%);
  border-bottom: 1px solid darken($main, 10%);
  background: $main;
  padding: 1em 1em 2em 1em;
  @include breakpoint($ultra) {
    float: left;
    width: 50%;
  }
}

.skills--list {
  display: flex;
}

.works {
  background-color: aliceblue;
  padding: 1em;
  @include breakpoint($ultra) {
    border-top: 1px solid $main;
    float: right;
    width: 50%;
    }
}

.examples {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  @include breakpoint($small) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.example {
  flex: 0 1 100%;
  margin-bottom: 3em;
  margin-right: -1px;
  padding-right: 1em;
  padding-left: 1em;
  border-right: 1px solid $secondary;
  border-left: 1px solid $secondary;
  img {
    border: 1px solid $text-medium;
    margin-bottom: 0.6rem;
  }
  @include breakpoint($medium) {
    flex: 0 1 50%;

  }
  @include breakpoint($extra-large) {
    flex: 1 1 33%;
  }
  @include breakpoint($big) {
    flex-basis: 25%;
    flex: 1 1 25%;
  }
  @include breakpoint($ultra) {
    flex: 0 1 33%;
  }
}

.screenshot p {
  font-weight: bold;
}

.extras {
  background-image: url(/img/mus-small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1em 1em 3em 1em;
  @include breakpoint($medium) {
    background-image: url(/img/mus.jpg);
  }
  @include breakpoint($ultra) {
    float: left;
    width: 50%;
  }
}

/*.shopify {
  background-color: $main;
  color: $text-light;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;

  a {
    color: $text-dark;
    border-bottom: 1px dotted $text-medium;
  }
  @include breakpoint($large) {
    flex-direction: row;
  }
}*/

.ecommerce-wrapper {
  // border: 1px solid tomato;

  display: flex;
  flex-direction: column;

  @include breakpoint($superbig) {
    flex-direction: row;
    justify-content: space-between;
    // flex-wrap: wrap;
  }

  // @include breakpoint($superbig) {
  //   flex-wrap: nowrap;
  //   justify-content: center;
  // }
}

.lemonstand {
  background-color: $secondary;
  a {
    color: $text-medium;
    border-bottom: 1px dotted $accent;
  }
}

.shopify {
  background-color: $main;
  color: $text-light;
  a {
    border-bottom: 1px dotted $accent;
  }
}

.ecommerce-item {
  border: 1px solid limegreen;
  display: flex;
  flex-direction: column;

  & > * {
    border: 2px solid pink;
    flex: 1;
  }
}

.ecommerce-info {
  width: 100%;

  @include breakpoint($medium) {
    display: flex;
    // justify-content: flex-end;
  }
}

.ecommerce-info--item {
  // border: 1px solid tomato;
  flex: 1 1 50%;
  padding: 2rem;
}

.shopify--item {
  // flex: 1 1 46%;
  // padding: 0 3rem;
}

.page {
  // border: 1px solid limegreen;
  display: flex;
  flex-direction: column;

  @include breakpoint($medium) {
    flex-direction: row;
  }
}

.page-item {
  // border: 1px solid purple;
  padding: 2rem;
  flex: 1 1 50%;
}

.upsell {
  display: flex;
  flex-direction: column;
  @include breakpoint($medium) {
    flex-direction: row;
  }
}

.upsell--item {
  @include breakpoint($medium) {
     flex: 1 1 46%;
     padding: 0 2%;
  }
}

.download-btn {
  -webkit-appearance: none;
  background-color: $accent;
  border: 1px solid $text-medium;
  border-radius: 8px;
  display: block;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  color: $text-dark;
  padding: 0.6rem 1rem;
  &:hover {
    background-color: darken($accent, 25%);
  }
}

.contact {
  background-color: $verydark;
  color: $text-light;
  text-align: center;
  padding: 1em;
  .logotyp {
    width: 15rem;
  }
  @include breakpoint($ultra) {
    float: left;
    width: 50%;
  }
}

.screenshot-full {
  background-color: $offwhite;
  box-shadow: 0 10px 10px 5px $text-medium;
  position: fixed;
  top: 3vh;
  height: 90vh;
  left: 10vw;
  padding: 0 1em;
  text-align: center;
  z-index: 10;
  transition: transform 0.3s ease-out;
  img {
    border: 1px solid $text-medium;
    height: 80%;
    margin: 0 5%;
  }
}

.hidden {
  transform: translateY(-120vh);
}

.closebtn,
.displayimage {
  cursor: pointer;
  border-bottom: 1px solid $text-dark;
}

.closebtn {
  display: inline-block;
  border: 1px solid $text-dark;
  padding: 0.2rem 0.4rem;
  margin: 1rem 0;
}

.phone {
  white-space: nowrap;
}

/* Automatically clear elements for standards-compliant browsers */
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  /* Trigger has-layout for IE compatibility */
  .clearfix {
    zoom: 1;
  }
