/*--------------------------------------
  #FEATURES
--------------------------------------*/

.features {
  @include breakpoint($ultra) {
    /*display: flex;
    flex-wrap: wrap;
    align-content: flex-start;*/
  }
}

.features__responsive {
  /*border: 1px solid lime;*/
}

.about {
  /*border: 1px solid lime;*/
  padding: 1em;
  margin: 0 auto;
  width: 90%;
  @include breakpoint($medium) {
    width: 70%;
  }
  @include breakpoint($big) {
    width: 60%;
  }
}

.techs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.techs--item {
  border: 1px solid lighten($main, 10%);
  flex-basis: 100%;
  /*margin: 0 2% .5em 2%;*/
  margin-bottom: 2em;
  padding: .3em;
  /*flex: 1 1 20%;*/
  /*flex-basis: 25%;*/
  @include breakpoint($medium) {
    flex-basis: 47%;
  }
  @include breakpoint($large) {
    flex-basis: 31%;
  }
}

.skills {
  /*border: 1px solid lightblue;*/
  background: $main;
  padding: 1em;
  @include breakpoint($ultra) {
    /*flex-basis: 50%;*/
    float: left;
    width: 50%;
  }
}

.skills--list {
  display: flex;
}

.works {
  /*border: 1px solid lightgoldenrodyellow;*/
  background: hsla(0, 0%, 80%, 1.00);
  padding: 1em;
  @include breakpoint($ultra) {
    /*flex-basis: 50%;*/
    float: right;
    width: 50%;
    }
}

.examples {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.example {
  /*border: 1px solid #333;*/
  flex: 0 0 50%;
  margin-bottom: 1em;
  padding-right: 1em;
  padding-left: 1em;
  img {
    border: 1px solid $text-light;
  }
  @include breakpoint($big) {
    flex-basis: 25%;
    &:last-child {
      padding-right: 0;
    }
  }
}

.extras {
  background-image: url(/img/mus-small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1em;
  @include breakpoint($medium) {
    background-image: url(/img/mus.jpg);
  }
  @include breakpoint($ultra) {
    float: left;
    width: 50%;
  }
}

.upsell {
  display: flex;
}

.upsell--item {
  flex: 1 1 46%;
  padding: 0 2%;
}

.contact {
  background-color: $secondary;
  color: $text-light;
  text-align: center;
  padding: 1em;
  .logotyp {
    width: 15rem;
  }
  @include breakpoint($ultra) {
    /*float: left;
    width: 50%;*/
    clear: both;
  }
}

/* Automatically clear elements for standards-compliant browsers */
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  /* Trigger has-layout for IE compatibility */
  .clearfix {
    zoom: 1;
  }