/*--------------------------------------
  #HEADERIMAGE
--------------------------------------*/

header {
  background-color: #fff;
  background-image: url(../../img/hero-magnus-mobil.jpg);
  background-size: content;
  background-repeat: no-repeat;
  background-position: top 0 left 25%;
  height: 55vh;

  @include breakpoint($medium) {
    background-position: top left;
  }

  @include breakpoint($large) {
    background-image: url(/img/hero-magnus-white.jpg);
    background-size: cover;
    background-position: top left 5rem;
    height: 60vh;
  }

  @include breakpoint($big) {
    background-position: top left;
  }

  @include breakpoint($ultra) {
    background-image: url(/img/hero-magnus-white-ultra.jpg);
    height: 55vh;
  }
}

.header--headline {
  color: $text-light;
  text-align: left;
  margin-left: 1rem;
  padding-top: 5rem;
  width: 85%;
  h1 {
    font-size: 4vh;
    line-height: 1.1;
    text-shadow: 2px 0 1px $text-dark;
  }
  .headline-tag {
    font-family: 'cooper_hewittbook';
    font-size: 2rem;
  }
  @include breakpoint($medium) {
    padding-top: .1rem;
    width: 45%;
    h1 {
      font-size: 6vh;
      line-height: 1.1;
      padding-top: 5%;
    }
  }
  @include breakpoint($large) {
    color: $text-dark;
    padding-top: 10%;
    margin-left: 5%;
    // width: 40%;
  }
  @include breakpoint($big) {
    margin-left: 5%;
    padding-top: 5%;
    // width: 45%;
  }
  @include breakpoint($ultra) {
    margin-left: 5%;
    padding-top: 5%;
    width: 30%;
  }
}

.gray {
  font-size: 70%;
  color: $main;
}
