/*--------------------------------------
  #HEADERIMAGE
--------------------------------------*/

header {
  /*border: 1px solid lime;*/
  background-image: url(/img/header-bg-small.jpg);
  background-size: content;
  background-repeat: no-repeat;
  background-position: top left;
  height: 60vh;
  
  @include breakpoint($medium) {
    background-image: url(/img/hero-magnus-white.jpg);
    background-size: cover;
    height: 45vh;
    /*@include breakpoint($hidpi) {
      background-image: url(/img/magnus-hero-2x.jpg);
    }*/
  }
}

.header--headline {
  /*border: 1px solid #333;*/
  color: $main;
  text-align: left;
  margin-left: 10%;
  padding-top: 50%;
  width: 85%;
  h1 {
    font-size: 4vh;
    line-height: 1.1;
    text-shadow: 1px 0 2px $text-dark;
  }
  .headline-tag {
    font-family: 'cooper_hewittbook';
    font-size: 2rem;
  }
  @include breakpoint($medium) {
    padding-top: 12vh;
    /*width: 65%;*/
    h1 {
      font-size: 6vh;
      line-height: 1.1;
      padding-top: 5%;
    }
  }
  @include breakpoint($large) {
    padding-top: 10vh;
    width: 65%;
  }
  @include breakpoint($big) {
    margin-left: 5%;
    padding-top: 5vh;
    width: 45%;
  }
}

