/*--------------------------------------
  #FONTFACES
--------------------------------------*/

@font-face {
    font-family: 'cooper';
    src: url('/fonts/roboto-bold-webfont.eot');
    src: url('/fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('/fonts/roboto-bold-webfont.woff') format('woff'),
         url('/fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('/fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoitalic';
    src: url('/fonts/roboto-italic-webfont.eot');
    src: url('/fonts/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto-italic-webfont.woff2') format('woff2'),
         url('/fonts/roboto-italic-webfont.woff') format('woff'),
         url('/fonts/roboto-italic-webfont.ttf') format('truetype'),
         url('/fonts/roboto-italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoregular';
    src: url('/fonts/roboto-regular-webfont.eot');
    src: url('/fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('/fonts/roboto-regular-webfont.woff') format('woff'),
         url('/fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('/fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roboto_condensedregular';
    src: url('/fonts/robotocondensed-regular-webfont.eot');
    src: url('/fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('/fonts/robotocondensed-regular-webfont.woff') format('woff'),
         url('/fonts/robotocondensed-regular-webfont.ttf') format('truetype'),
         url('/fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cooper_hewittbold';
    src: url('/fonts/cooperhewitt-bold-webfont.woff2') format('woff2'),
         url('/fonts/cooperhewitt-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittbook';
    src: url('/fonts/cooperhewitt-book-webfont.woff2') format('woff2'),
         url('/fonts/cooperhewitt-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittheavy';
    src: url('/fonts/cooperhewitt-heavy-webfont.woff2') format('woff2'),
         url('/fonts/cooperhewitt-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cooper_hewittlight';
    src: url('/fonts/cooperhewitt-light-webfont.woff2') format('woff2'),
         url('/fonts/cooperhewitt-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
