::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Magnus
========================================================================== */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: $text-dark;
  font-size: 16px;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

body {
  background-color: aliceblue;
  height: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

p {
  font-family: 'cooper_hewittbook';
  font-size: 1.1em;
  line-height: 1.6;
  margin: 0 0 0.6em 0;
}

h1 {
  font-family: 'cooper_hewittheavy';
  font-size: 2.6rem;
  margin: 0;
  @include breakpoint($small) {
    font-size: 3rem;
  }
  @include breakpoint($large) {
    font-size: 4rem;
  }
  @include breakpoint($big) {
    font-size: 5.75rem;
  }
}

h2 {
  font-family: 'cooper_hewittheavy';
  font-size: 2rem;
  @include breakpoint($large) {
    font-size: 2.4rem;
  }
  @include breakpoint($big) {
    font-size: 3.6rem;
  }
}

h3 {
  font-size: 2.25rem;
}

h3, h4, h5, h6 {
  font-family: 'cooper_hewittbold';
  font-weight: normal;
  line-height: 1.1;
  margin: 0;
}

ul {
  font-family: 'cooper_hewittbook';
  font-size: 1.1em;
  padding-left: 0;
}

li {
  margin-bottom: .4em;
  padding-left: 0;
  list-style-position: inside;
  list-style-type: '+';
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $accent;
}

.description a {
    color: #000;
    border-bottom: 1px solid #ccc;
}


small {
  font-family: 'cooper_hewittbook';
  font-size: 0.85em;
}

figure {
  margin: 0 0 1rem 0;
}

figcaption {
  font-family: 'cooper_hewittbook';
  font-size: 0.85em;
  margin-top: 0.6em;
}
