/* Configuration, mixins and variables */

/*--------------------------------------
  #BREAKPOINTS
--------------------------------------*/
$micro: 15em;
$small: 24em;
$medium: 35em;
$large: 45em;
$extra-large: 52em;
$big: 75em;
$ultra: 120em;

$hidpi: min-resolution 1.5dppx;
$cross-reso: max-resolution 143dpi;


/*--------------------------------------
  #COLORS
--------------------------------------*/
$main: hsla(196, 93%, 73%, 1.00);
$secondary: hsla(200, 4%, 35%, 1.00);
$accent: hsla(71, 95%, 63%, 0.95);
$offwhite: rgb(248, 248, 248);

/*$text-dark: hsla(0, 0%, 13%, 0.87);*/
$text-dark: hsla(195, 9%, 22%, 0.90);
$text-medium: hsla(0, 0%, 13%, 0.54);
$text-light: hsla(0, 0%, 100%, 0.9);



/*--------------------------------------
  #MIXINS
--------------------------------------*/

/*@mixin breakpoint($size) {
	@if $size == small {
		@media (min-width: 20em) { 
		  @content;
		}
	}
	@else if $size == medium {
		@media (min-width: 35em) {
		  @content;
		}
	}
	@else if $size == large {
		@media (min-width: 45em) {
		  @content;
		}
	}
	@else if $size == big {
		@media (min-width: 74em) {
		  @content;
		}
	}
}*/




/*--------------------------------------
  #PLACEHOLDERS
--------------------------------------*/