/* Configuration, mixins and variables */

/*--------------------------------------
  #BREAKPOINTS
--------------------------------------*/
$micro: 15em;
$small: 24em;
$medium: 35em;
$large: 45em;
$extra-large: 52em;
$big: 75em;
$superbig: 98em;
$ultra: 120em;

$hidpi: min-resolution 1.5dppx;
$cross-reso: max-resolution 143dpi;


/*--------------------------------------
  #COLORS
--------------------------------------*/
$main: hsla(210, 74%, 61%, 1.00); // Dark blue
$secondary: hsla(210, 81%, 84%, 1.00); // Light blue
$accent: rgb(222, 233, 144); // Strong lime
$offwhite: rgb(248, 248, 248);
$cta-button: $accent;
$verydark: hsla(195, 9%, 22%, 1.00); // Almost white

// Svensk version
$main-se: hsla(20, 51%, 35%, 1.00); // Dark umbra
$secondary-se: hsla(21, 55%, 56%, 1.00); // Light umbra

$text-dark: hsla(195, 9%, 22%, 0.90);
$text-medium: hsla(0, 0%, 13%, 0.54);
$text-light: hsla(0, 0%, 100%, 0.9);
